<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'local_css.html' %}
    {% include 'datetime_picker.html' %}
    {% include 'fontawesome.html' %}
    {% include 'bootstrap_link.html' %}

    {% block style %}
    {% endblock style %}
    <title>
        {% block title %}
            Chats
        {% endblock title %}
    </title>
</head>
<body>
    {% include 'components/header.html' %}

    <div class="uk-container">
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'components/footer.html' %}

    {% include 'local_js.html' %}
    {% include 'bootstrap_script.html' %}
    {% block js %}
    {% endblock js %}
</body>
</html>